button.app-button
    position: relative
    z-index: 1
    border: 0
    padding: 0
    display: inline-block
    outline: none

    span.button-text
        z-index: 2
        text-transform: uppercase
        letter-spacing: 1px
        display: inline-block
        transition: color $transition

        a
            text-decoration: none
            color: inherit !important

        svg
            padding: 0 0 1px 10px

    &.primary-button
        background: $primary-gradient
        color: $primary-color

        &::before
            content: ''
            display: block
            width: calc(100% - 4px)
            height: calc(100% - 4px)
            position: absolute
            top: 2px
            left: 2px
            background: $dark-background-color
            z-index: -1
            border-radius: $rounded-small
            transition: opacity $transition

        &:hover

            span.button-text, a
                color: $dark-background-color

            &::before
                opacity: 0

        span.button-text
            color: $primary-font-color
            padding: 10px 20px
            font-size: 1.1rem

        &.large

            span.button-text
                padding: 15px 35px

    &.secondary-button
        background: transparent
        color: $primary-color

        span.button-text
            padding: 10px 10px 10px 5px
            font-size: 1rem
        
        &::before
            content: ''
            display: block
            position: absolute
            bottom: 0
            left: 0
            width: 10%
            height: 3px
            background: $primary-color
            transition: all $transition
            border-radius: 100px

        &:hover
            
            &::before
              width: 50%
              background: $secondary-color
    