html
    font-size: 16px
    line-height: 16px

body
    margin: 0
    background: $dark-background-color
    position: relative

    div#root
        position: relative

    main.content-container
        padding: 25px
        position: relative
        margin-top: 100px
        box-sizing: border-box
        z-index: 0
        min-height: calc(100vh - 100px - 60px)


        &::before
            content: ''
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-image: url('../images/bg-pattern.png')
            background-repeat: repeat
            background-attachment: fixed
            mix-blend-mode: darken
            z-index: -1
            opacity: 0.5

h1
    font-size: 2rem
    line-height: 2.4rem
    font-family: $font-family
    color: $primary-font-color
    font-weight: 400
    letter-spacing: 2px
    text-transform: uppercase

h2
    font-size: 1.8rem
    line-height: 2.2rem
    font-family: $font-family
    font-weight: 600
    color: $primary-font-color
    letter-spacing: 2px
    text-transform: uppercase

h3
    font-size: 1.6rem
    line-height: 2rem
    font-family: $font-family
    color: $primary-font-color
    font-weight: 400

h4
    font-size: 1.4rem
    line-height: 1.8rem
    font-family: $font-family
    color: $primary-font-color
    font-weight: 400
    letter-spacing: 1px

h5
    font-size: 1.2rem
    line-height: 1.6rem
    font-family: $font-family
    color: $primary-font-color
    font-weight: 400

h6
    font-size: 1rem
    line-height: 1.4rem
    font-family: $font-family
    color: $primary-font-color
    font-weight: 400

p, li, a, span
    font-size: 1rem
    line-height: 1.4rem
    font-family: $font-family
    color: $primary-font-color
    font-weight: 400

a
    transition: color $transition

    &:hover
        color: $secondary-color

.rounded
    border-radius: $rounded-small
    overflow: hidden

.rounded-large
    border-radius: $rounded-large
    overflow: hidden

.shadow
    box-shadow: $box-shadow

.shadow-long
    box-shadow: $box-shadow-long

.centered
    text-align: center

.narrow
    width: 60%
    margin: 0 auto !important

    p
        margin: 35px 0