header#main-header
    height: 100px
    padding: 0 25px
    box-sizing: border-box
    margin: 0
    position: relative
    z-index: 1
    
    nav
        height: 100%
        position: relative

        span.left
            display: inline-block
            width: 11%
            position: absolute
            top: 20px

            a.logo-wrapper
                padding: 0

            img
                padding-top: 10px
                display: inline-block
                width: 100%
                padding: 0

        span.right
            display: inline-block
            width: 89%
            text-align: right
            position: absolute
            top: 20px
            right: 0
            
        ul
            margin: 0
            padding: 0

        a
            text-decoration: none
            text-transform: uppercase
            letter-spacing: 2px
            font-size: 0.9rem
            padding: 0 15px
            color: $secondary-font-color

            &:hover
                color: $primary-font-color

            &.active
                font-weight: 600
        
        span.primary-button-container
            margin-left: 15px

            span.button-text
                padding: 0

                a
                    display: block
                    padding: 15px 35px
                    font-size: inherit
                    font-weight: inherit

                    &.active
                        font-weight: inherit
            
        