section.launch-opener
    padding-top: 0

    div.content-container
        position: relative
        display: flex

        div.launch-image-container
            width: 50%
            display: inline-block
            vertical-align: top
            position: relative
            flex: 1
            background-size: cover
            background-repeat: no-repeat
            background-repeat: center center

            img.mission-patch
                padding: 2px
                width: 65px
                height: 65px
                object-fit: cover
                box-sizing: border-box
                position: absolute
                top: 10px
                right: 10px
                background: $light-background-color

        div.launch-highlights-container
            width: 50%
            display: inline-block
            padding: 25px
            box-sizing: border-box
            vertical-align: top
            text-align: left
            flex: 1

            h1.launch-title
                margin: 0
                font-weight: 600

                span.flight-number
                    color: $secondary-color
                    font-size: inherit
                    font-weight: 500
                    padding-right: 1rem
                    box-sizing: border-box

            h4.launch-date
                letter-spacing: 2px
                margin: 0 0 10px
                font-family: monospace

            section
                padding: 5px 0

                h6
                    padding: 0 0 5px
                    margin: 0
                    font-weight: 600
                    text-transform: uppercase
                    letter-spacing: 1px

                p.detail-info
                    margin: 0
                    letter-spacing: 1px

                    &.summary
                        letter-spacing: 0

                    &.mission-status
                        display: inline-block
                        padding: 3px 5px
                        width: auto
                        box-sizing: border-box
                        text-transform: uppercase
                        letter-spacing: 1px
                        background-color: $neutral-background-color
                        font-size: 0.9rem

                    &.success
                        background-color: $positive-background-color

                    &.failure
                        background-color: $negative-background-color

                &.external-links
                
                    span
                        padding-right: 10px

                    a
                        padding: 5px
                        box-sizing: border-box